# Talaria XXX
# Battery 60V 25Ah or 60V 40Ah
# 1480Wh or 2368Wh

[Control modes]
# # Current mode: = N
Phase 1 = 200A
Battery 1 = 50A
Speed 1 = 50%

Phase 2 = 300A
Battery 2 = 80A
Speed 2 = 100%

Phase 3 = 400A
Battery 3 = 110A
Speed 3 = 150%

Braking phase = 50A
Field weakening = 78A
# Current change speed: 
- acceleration = 5000A/s
- braking = 2000A/s
- shutdown = 5000A/s


[PID regulators]
FOC Ki = 130.0
FOC Kp = 0.300

[Motor setup]
Pole pair = 5
Gear ratio = 2

[Motor t°-sensor]
Sensor type = KTY84

[Encoder settings]
Steps = 4096

[Battery]
Full charge = 1.50dV
Supply max = 67.20V
Supply min = 48.00V
Charge max = 30.0A
Discharge max = 110.0A

[Clutch]
Mode = OFF

[Extra parameters]
Disable button = Switch
Lock at turn-on = ON
Speed calculation = ON
Circumference = 1930 mm
Motor sprocket = 14 t
Wheel sprocket = 48 t

[I/O configuration]
Speeds mode = Switch
Port I1 = Scyc
Port I2 = DTH
Port I3 = N
Port I4 = OFF
Port IO5 = OFF
Port IO6 = OFF
Port I7 = OFF
Port I8 = OFF
Port IO9 = OFF
Port IO10 = OFF
Port I11 = OFF
Port IO12 = OFF
Port I13 = OFF
PWM IO5 = Disabled
PWM IO6 = Disabled

[Pedal Assist System]
PAS = Disabled

[RC Control]
Input IO5 mode = Off

