# Surron 500A 48T 16S

[Control modes]
Phase 1 = 200
Battery 1 = 50
Speed 1 = 100
Phase 2 = 500
Battery 2 = 110
Speed 2 = 150
Braking phase = 200
Speed reverse = 10
Phase reverse = 75
Field weakening = 250
# Current change speed:
- acceleration = 7500
- braking = 2500
- shutdown = 5000

[Control]
Brake min = 5000
Brake max = 9000
Brake button power = 20

[Additional modes]
Enable add. modes = OFF
Neutral by default = OFF

[Motor setup]
Pole pair = 5
Gear ratio = 2.22

[Motor t°-sensor]
°t max = 150.0
Delta °t = 40.0
Sensor type = KTY84

[Battery]
Full charge = 1.50
Supply max = 67.2
Supply min = 48.0
Charge max = 60.0
Discharge max = 90.0

[Converter]
Enable = OFF
Auto-Enable = OFF
Detection threshold = 20
Battery max I = 0.0
Battery min I = 1.0
Undercharge = 0.00
Current drop delta = 1.0
Supply max I = 10.0
Supply drop U = 3.00
Max motor t° = 100

[Clutch]
Mode = OFF

[Extra parameters]
Disable button = None
Speed calculation = ON
Circle length = 1930
Motor sprocket = 14
Wheel sprocket = 48

[I/O configuration]
Speeds mode = Switch
Port S1 = S2
Port S3 = S3
Port RV = N
Port CR = DTH
Port P1 = OFF
Port P2 = OFF
Port P = OFF
Port M = OFF
#For v0.8.10+
Port I1 = S2
Port I2 = S3
Port I3 = DTH
Port I4 = N
Port IO5 = Spec.
Port IO6 = Spec.
Port I7 = OFF
Port I8 = OFF

CAN Port 1 = OFF
CAN Port 2 = OFF
CAN Port 3 = OFF
CAN Port 4 = OFF
CAN Port 5 = OFF
CAN Port 6 = OFF
CAN Port 7 = OFF
CAN Port 8 = BK
PWM P1 = Disabled
PWM P2 = Disabled

[Pedal Assist System]
PAS = Disabled

[PID regulators]
FOC Kp = 0.350