# Nucular Controller P24F
# Network ID: 34

[Control]
Adaptive throttle = 0%
Boost duration = 3.0 s

[Control modes]
# # Current mode: = S1
Phase 1 = 200A
Battery 1 = 60A
Power 1 = 0.0kW
Speed 1 = 64%
Phase 2 = 250A
Battery 2 = 90A
Power 2 = 0.0kW
Speed 2 = 106%
Phase 3 = 500A
Battery 3 = 200A
Power 3 = 0.0kW
Speed 3 = 200%
Braking phase = 100A
Speed reverse = 10%
Phase reverse = 100A
Field weakening = 170A
# Current change speed: 
- acceleration = 5000A/s
- braking = 1250A/s
- shutdown = 5000A/s


[Motor setup]
Pole pair = 8

[Motor t°-sensor]
°t max = 120.0 °C
Delta °t = 30.0 °C
Sensor type = KTY84

[Encoder settings]
Steps = 4096

[Battery]
Full charge = 2.50dV
Supply max = 84.00V
Supply min = 56.00V
Charge max = 100.0A
Discharge max = 200.0A

[Clutch]
Mode = OFF

[Extra parameters]
Disable button = None
Circumference = 1940 mm
Motor sprocket = 12 t
Wheel sprocket = 58 t

[I/O configuration]
Input filter = 0.10s
Speeds mode = Buttons
Port I1 = BK
Port I2 = BK
Port I3 = N
Port I4 = BK
Port IO5 = OFF
Port IO6 = OFF
Port I7 = OFF
Port I8 = OFF
Port IO9 = S++
Port IO10 = RV
Port I11 = S--
Port IO12 = OFF
Port I13 = OFF

[RC Control]
Input IO5 mode = Off