# Talaria MX4

[Control]
Adaptive throttle = 20%

[Control modes]
# # Current mode: = N
Phase 1 = 200A
Battery 1 = 50A
Speed 1 = 50%

Phase 2 = 400A
Battery 2 = 100A
Speed 2 = 100%

Phase 3 = 500A
Battery 3 = 180A
Speed 3 = 150%

Braking phase = 100A
Field weakening = 200A
# Current change speed: 
- acceleration = 10000A/s
- braking = 5000A/s
- shutdown = 10000A/s


[PID regulators]
FOC Ki = 130.0
FOC Kp = 0.300

[Motor setup]
Pole pair = 5
Gear ratio = 2.57
Integration thr. = 22.407V
Phase resistance = 0.0113 Ohm
Inductance d = 108.79 uH
Inductance q = 162.97 uH
Flux linkage = 0.0254 Wb
MTPA = Real

[Motor t°-sensor]
Sensor type = KTY84

[Encoder settings]
Steps = 4096

[Battery]
Full charge = 1.50dV
Supply max = 67.20V
Supply min = 48.00V
Charge max = 30.0A
Discharge max = 180.0A

[Clutch]
Mode = OFF

[Extra parameters]
Disable button = Switch
Lock at turn-on = ON
Speed calculation = ON
Circumference = 1930 mm
Motor sprocket = 13 t
Wheel sprocket = 44 t

[I/O configuration]
Speeds mode = Switch
Port I1 = Scyc
Port I2 = OFF
Port I3 = N
Port I4 = BK
Port IO5 = OFF
Port IO6 = OFF
Port I7 = OFF
Port I8 = OFF
Port IO9 = OFF
Port IO10 = OFF
Port I11 = OFF
Port IO12 = OFF
Port I13 = OFF
PWM IO5 = Disabled
PWM IO6 = Disabled

[Pedal Assist System]
PAS = Disabled

[RC Control]
Input IO5 mode = Off

