# Talaria RU

[Управление]
Адаптивный газ = 20%

[Режимы управления]
Фазный 1 = 200
Батарейный 1 = 50
Скорость 1 = 50

Фазный 2 = 400
Батарейный 2 = 100
Скорость 2 = 100

Фазный 3 = 500
Батарейный 3 = 180
Скорость 3 = 150

Фазный торможения = 100
Ослабление = 200
# Скорость изменения тока: = 0
- разгона = 10000
- торможения = 5000
- отключения = 10000

[PID регуляторы]
FOC Ki = 130.0
FOC Kp = 0.300

[Настройка мотора]
Пар полюсов = 5
Редукция мотора = 2.57
Порог интегрирования = 22.407V
Cопротивление фазное = 0.0113 Ohm
Индуктивность d = 108.79 uH
Индуктивность q = 162.97 uH
Потокосцепление = 0.0254 Wb
MTPA = Реальн.

[Термодатчик мотора]
Тип датчика = KTY84

[Настройки энкодера]
Шагов = 4096

[Батарея]
Полный заряд = 1.50
Питание макс = 67.2
Питание мин = 48.00
Заряд макс = 30.0
Разряд макс = 180

[Муфта]
Режим = Откл.

[Доп. настройки]
Кнопка включения = Перекл.
Блокировка при вкл. = ON
Расчет скорости = ON
Длина окружности = 1930
Звезда мотора = 13
Звезда колеса = 44

[Настройка портов]
Режим скоростей = Перекл.
Порт I1 = Scyc
Порт I2 = OFF
Порт I3 = N
Порт I4 = BK
Порт IO5 = OFF
Порт IO6 = OFF
Порт I7 = OFF
Порт I8 = OFF
Порт IO9 = OFF
Порт IO10 = OFF
Порт I11 = OFF
Порт IO12 = OFF
Порт I13 = OFF
ШИМ IO5 = Отключен
ШИМ IO6 = Отключен

[Pedal Assist System]
PAS = Отключен

[RC Управление]
Input IO5 mode = Откл.
