# Surron RU

[Режимы управления]
Фазный 1 = 200
Батарейный 1 = 50
Скорость 1 = 100
Фазный 2 = 400
Батарейный 2 = 90
Скорость 2 = 102
Фазный 3 = 500
Батарейный 3 = 90
Скорость 3 = 100
Фазный торможения = 200
Фаз.торм. при упр.скор. = 0
Скорость реверса = 10
Фазный реверса = 75
Ослабление = 200
# Скорость изменения тока: = 0
- разгона = 10000
- торможения = 2500
- отключения = 5000

[Дополнительные режимы]
Включить доп. режимы = OFF
Нейтраль по умолч. = OFF

[Настройка мотора]
Пар полюсов = 5

[Термодатчик мотора]
°t макс. = 150.0
Дельта °t = 40.0
Тип датчика = KTY84

[Батарея]
Полный заряд = 1.50
Питание макс = 67.2
Питание мин = 48.00
Заряд макс = 60.0
Разряд макс = 90.0

[Преобразователь]
Включить = OFF
Авто-включение = OFF

[Муфта]
Режим = Откл.

[Доп. настройки]
Кнопка включения = Перекл.
Расчет скорости = ON
Длина окружности = 1930
Звезда мотора = 10
Звезда колеса = 76

[Настройка портов]
Режим скоростей = Перекл.
Порт S1 = S2
Порт S3 = S3
Порт RV = N
Порт CR = DTH
Порт P1 = OFF
Порт P2 = OFF
Порт P = OFF
Порт M = OFF

Порт I1 = S2
Порт I2 = S3
Порт I3 = N
Порт I4 = DTH
Порт IO5 = OFF
Порт IO6 = OFF

CAN порт 1 = OFF
CAN порт 2 = OFF
CAN порт 3 = OFF
CAN порт 4 = OFF
CAN порт 5 = OFF
CAN порт 6 = OFF
CAN порт 7 = OFF
CAN порт 8 = OFF
ШИМ P1 = Отключен
ШИМ P2 = Отключен

ШИМ IO5 = Отключен
ШИМ IO6 = Отключен

[Pedal Assist System]
PAS = Отключен
